:root {
    --bg: #fff;
    --color: #231f20;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.btn:focus {
  outline: 0;
  box-shadow: none!important;
}

.register-button {
    background: none;
    border: none;
    padding: 0;
    outline: 0;
    box-shadow: none!important;
    
}
.dog-bone:hover {
    filter: invert(100%);
}

.register-modal {
    margin: 50px 0 auto;
    align-items: center;
    position: absolute;
    padding: 20px;
}

.login-modal {
    margin: 90px 0 auto;
    align-items: center;
    position: absolute;
    padding: 20px;
}


.close-button {
    background: none;
    border: solid red;
    font-weight: bold;
    color: red;
}

.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 15px 0;
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px;
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center;
}

.btn-google {
padding: 5px 3px;
color: black;
background-color: #ffffff;
box-shadow: 0 1px 2px 1px #ddd;
border: none;
border-radius: 5em;

}

.btn-google:hover {
box-shadow: black;
box-shadow: 0 1px 2px 1px gray;
}

.login-text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.bone-wrapper {

    filter: url('#goo')
}

.bone {
    display: inline-block;
    margin: 20px 0 auto;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 0.8em 0.5em 0.8em;
    line-height: 1;
    border: none;
    border-radius: 0.4em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
}

.bone:focus {
  outline: 0;
  box-shadow: none!important;
}

.bone::before,
.bone::after,
.bone span::before,
.bone span::after {
    width: 2.3em;
    height: 2.3em;
    position: absolute;
    content: '';
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: .5s ease;
    transform: scale(0);
    z-index: -1;
}

.bone::before {
    top: 50%;
    right: -10%;
}

.bone::after {
    bottom: 50%;
    right: -10%;
}

.bone span::before {
    top: 50%;
    left: -10%;
  }
  
  .bone span::after {
    bottom: 50%;
    left: -10%;
  }
  
  .bone:hover {
    text-decoration: none;
    color: #cbcbcb;
    background-color: #231f20;
  }

  .bone:hover::before,
  .bone:hover::after,
  .bone:hover span::before,
  .bone:hover span::after {
    transform: none;
    background-color: #231f20;
  }

  .forgot-password {
    color: #0000FF;
    text-decoration: none;
  }

  .forgot-password:hover {
    color: #020294;
    text-decoration: underline;
  }

  .login-footer {
    background: none;
    border: none;
    color: #0000FF;
  }

  .login-footer:hover {
    text-decoration: underline;
    color: #020294;
  }

  .signup-footer {
    background: none;
    border: none;
    color: #0000FF;
  }

  .signup-footer:hover {
    text-decoration: underline;
    color: #020294;
  }