:root {
    --bg: #fff;
    --color: #231f20;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.homeContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.login-text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.bone-wrapper {
    filter: url('#goo')
}

.bone {
    display: inline-block;
    margin:  0 auto;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 0.8em 0.5em 0.8em;
    line-height: 1;
    border: none;
    border-radius: 0.4em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
}

.bone:focus {
  outline: 0;
  box-shadow: none!important;
}

.bone::before,
.bone::after,
.bone span::before,
.bone span::after {
    width: 2.3em;
    height: 2.3em;
    position: absolute;
    content: '';
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: .5s ease;
    transform: scale(0);
    z-index: -1;
}

.bone::before {
    top: 50%;
    right: -10%;
}

.bone::after {
    bottom: 50%;
    right: -10%;
}

.bone span::before {
    top: 50%;
    left: -10%;
  }
  
  .bone span::after {
    bottom: 50%;
    left: -10%;
  }
  
  .bone:hover {
    text-decoration: none;
    color: #cbcbcb;
    background-color: #231f20;
  }

  .bone:hover::before,
  .bone:hover::after,
  .bone:hover span::before,
  .bone:hover span::after {
    transform: none;
    background-color: #231f20;
  }

