.navbar {
    height: 120px;
    background-color: grey;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.logo {
    padding: 0 10px;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

.dogpaw01 {
    margin-left: 10px;
    max-width: 80px;
}

.navItems {
    margin-right: 20px;
    text-align: right;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
}

.btn:focus {
    outline: 0;
    box-shadow: none!important;
  }

.dog-bone:hover {
    filter: invert(100%);
}

.register-button {
    background: none;
    border: none;
    padding: 0;
    outline: 0;
    box-shadow: none!important;
    
}

.register-modal {
    margin: 50px 0 auto;
    align-items: center;
    position: absolute;
    padding: 20px;
}

.login-modal {
    margin: 90px 0 auto;
    align-items: center;
    position: absolute;
    padding: 20px;
}


.close-button {
    background: none;
    border: solid red;
    font-weight: bold;
    color: red;
}

.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 15px 0;
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px;
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center;
}


.forgot-password {
    color: #0000FF;
    text-decoration: none;
  }

  .forgot-password:hover {
    color: #020294;
    text-decoration: underline;
  }

  .login-footer {
    background: none;
    border: none;
    color: #0000FF;
  }

  .login-footer:hover {
    text-decoration: underline;
    color: #020294;
  }

  .signup-footer {
    background: none;
    border: none;
    color: #0000FF;
  }

  .signup-footer:hover {
    text-decoration: underline;
    color: #020294;
  }